p {
    color: red;
    text-align: center
}

#para1 {
    text-align: center;
    color:red;
}

.center {
    text-align: center;
    color:red       
}

p.center {
    text-align: center;
    color: red;
}

* {
    text-align: center;
    color: blue
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

/* Left off on CSS Coments */

body {
    background-color: #fc9; /* Same as fcc99 */
}

body {
    background-image: url(/home/user/Downloads/hiring..png);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

/* Left off CSS Borders */

p.solid {
    border-style: solid
    border-width: 5px 20px
    border-color: orange
}

/* Left off on CSS Margins */

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

/* Left off on CSS Box Model/*

div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

/* Left off on CSS Outline */

p {
    margin: 30px;
    border: 3px solid black;
    outline:5px solid white ;
    background: skyblue;
    outline-offset: 15px;
}

body {h2.unknown {
    visibility: hidden;
}
}

h2 {
    text-align: left
}

div {
    text-align: justify
}

p.a {
    text-align-last: right;
}

p.b {
    text-align-last: center;
}

p.c {
    text-align-last: left;
}

/* Left off on Text Decoration */

h2 {
    text-decoration-line: line-through;
    text-decoration-color: purple;
    text-decoration-style: auto;
}

p.uppercase {
    text-transform: capitalize;
}

h1 {
    letter-spacing: 5px;
}

p.small {
    line-height: 0.8;
}

p.big {
    line-height: 1.8;
}

p.one {
    word-spacing: 10px;
}

p.two {
    word-spacing: -2px;
}

p {
    white-space: nowrap;
}

/* Left off on CSS Text Shadow */

h1 {
    text-shadow: 2px 2px black;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h2.italic {
    font-style: italic;
}

p.normal {
    font-weight: normal;
}

p.small {
    font-variant: small-caps;
}<a href="https://www.nvidia.com/en-us/geforce/graphics-cards/30-series/">
<img src="https://www.nvidia.com/en-us/geforce/graphics-cards/30-series/" alt="We also sponsor Nvidia and you will get a discount on Nvidia GeForce graphics cards if you buy from us" style="width:200;height:200;">
</a>

a {
    color: rosybrown;
}

a.link {
    color: pink;
}

a.visited {
    color: darkred;
}

a.hover {
    color: darkmagenta;
}

a.active {
    color: violet;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

/* Left off on CSS Tables */

table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 70px;
    text-align: center;
    vertical-align: bottom;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

li {
    display: inline;
}

span {
    display: block
}

h6.hidden {
    display: none
}

/* Left off on CSS Position */

div.static {
    position: static;
    border: 3px solid black;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid whitesmoke;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid darkslategray;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: greenyellow;
    border: 2px solid green;
}

/* Left off on z-index property */

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    float: none;
}

div {
    overflow: auto;
}

/* Left off on CSS Float */

span.a {
    display: inline-block;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px greenyellow;
    padding: 10px;
}

div p {
    background-color: yellow;
}

ul > li {
    background-color: tan;
}

tr + th {
    background-color: lightcoral;
}

ol ~ li {
    background-color: darkorchid;
}

/* Left off on pseudo-class' */

/* Unvisited Link */
a:link {
    color:blue
}

/* Visited Link */

a:visited {
    color: darkblue;
}

/* Mouse over link */
a:hover {
    color: lightblue;
}

/* Selected Link */
a:active {
    color: turquoise;
}

div:hover {
    color: lightblue;
}

p {
    display: none;
}

div:hover p {
    display: block;
}

p i:first-child {
    color: blue;
}

q:lang(no) {
    quotes: "~" "~";
}

p::first-line {
    color: red;
    font-variant: xx-large;
}

::marker {
    color: red;
    font-size: 23px;
}

::selection {
    color: red;
    background: yellow;
}

img.fading {
    opacity: 0.5;
}

img.fading:hover {
    opacity: 1.0;
}

/* Left off on CSS Navigation Bar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
}

li a.vertical {
    display: block;
    width: 60px;
    text-align: center;
    border-bottom: 1px solid #555;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04aa6d
    color: white;
}

/* Left off on Horizontal Navigation Bars */

li.horizontal {
    display: inline;
    float: left;.overflow
a.horizontal {
    display: block;
    padding: 8px;
    background-color: brown;
}

/* Left off on CSS Dropdowns */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.galley {
    margin: 5px;
    border: 1px solid rebeccapurple;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid lightpink;
}

div.gallery img {
    width: 100px;
    height: auto;
}

div.desc {
    padding: 15ph1::before {
        content: url(https://www.ldjsolicitors.co.uk/assets/components/phpthumbof/cache/COVID-19.7af325076002f1d036f20502dfc182a0.jpg)
    }
    text-align: center;
}

/* Left off on CSS Image Sprites */

#home {
    width: 46px;
    height: 44px;
    background: url(http://planetary.s3.amazonaws.com/image/20110319_vollmond.jpg) 0 0;
}

#next {
    width: 43;
    height: 44px;
    background: url(http://planetary.s3.amazonaws.com/image/20110319_vollmond.jpg) -91px 0;
}

/* Left off on CSS Attribute Selectors */

a[target="_blank"] {
    background-color: yellow;
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: violet;
    color: white;
    transition: width 0.4s ease-in-out;
}

input[type=text] {
    background-color: lightblue;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 100%;
    padding: 16px 20px;
    border-bottom: red;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: yellow;
    border:none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Left off on CSS Counters */

body {
    counter-reset: section;
}

h2.counter::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

h3.counter2 {
    counter-reset: subsection;
}

h3.counter2::before {
    counter-increment: section;
    content: counter(section) "." counter(subsection) " ";
}

ol.counter {
    counter-reset: section;
    list-style-type: none;
}

/* Left off on CSS Website Layout */

.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}
Pizza
Hamburger
Cheese

}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color:  #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    Pizza
    Hamburger
    Cheese
    
topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}

div.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    display: inline;
}

/* Left off on CSS Units */

.important {
    color: red !important;
}

#calc1 {
    position: absolute;
    left: 50px;
    width: calc(100%-100px)
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}

#calc2 {
    background-color: lightyellow;
    height: 100px;
    width: max(50%, 300px);
}

#calc3 {
    background-color: yellow;
    height: 100px;
    width: min(50%, 300px);
}

/* Left off on CSS Rounded Corners */

#roundedcorners {
    border-radius: 15px;
}

/* Left off on CSS Border Images */

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://static.vecteezy.com/system/resources/previews/000/236/998/original/decorative-border-vector.jpg) 30 round;
}

/* Left off on CSS Backgrounds */