p {
    color: red;
    text-align: center
}

#para1 {
    text-align: center;
    color:red;
}

.center {
    text-align: center;
    color:red       
}

p.center {
    text-align: center;
    color: red;
}

* {
    text-align: center;
    color: blue
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

/* Left off on CSS Coments */

body {
    background-color: #fc9; /* Same as fcc99 */
}

body {
    background-image: url(/home/chrisrios/Downloads/forza-horizon-4-3840x2160-e3-2018-poster-4k-19465.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

/* Left off CSS Borders */

p.solid {
    border-style: solid
    border-width: 5px 20px
    border-color: orange
}

/* Left off on CSS Margins */

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

/* Left off on CSS Box Model/*

div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

/* Left off on CSS Outline */

p {
    margin: 30px;
    border: 3px solid black;
    outline:5px solid white ;
    background: skyblue;
    outline-offset: 15px;
}

body {
    color: green;
}

h2 {
    color: brown;
}

h2 {
    text-align: left
}

div {
    text-align: justify
}

p.a {
    text-align-last: right;
}

p.b {
    text-align-last: center;
}

p.c {
    text-align-last: left;
}

/* Left off on Text Decoration */